.header-main {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #2E2437;
    color: #C4D85E;
    height: 40px;
}

.footer-main {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #2E2437;
    color: #C4D85E;
    height: 20px;
}

.page-body-main {
    background-color: #232125;
    font-family: 'Jetbrains Mono';
    font-weight: 200;
    color: #9DAA7C;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-section {
    padding: 10px;
    font-family: 'JetBrains Mono';
    font-weight: 100;
    text-shadow: 1px 2px 5px black;
    -webkit-text-stroke: 1px #1A0606;
    paint-order: stroke fill;
    color: #C4D85E;
    text-decoration: none;
}

.navbar-section-actionable {

}

.navbar-section-actionable:hover {
    background-color: #312a38;
}

.navbar-section-active {
    background-color: #232125;
    pointer-events: none;
}

#logo {
    height: 20px;
    width: 20px;
}

/* List page styles */

.page-tl-container {
    margin: 10px;
}

.page-ml-container {
    margin: 10px;
}

input {
    outline: none;
}

input:focus {
    border: 2px solid blue;
}

input.text-input {
    margin: 5px;
}

input.text-input-invalid {
    margin: 5px;
    border: 2px solid red;
}

.table-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

table {
    border-spacing: 10px;
}

table.data-table {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;

}

thead.data-table-head {
    display: flex;
    flex-direction: row;
}

tr.data-table-head-row {
    flex: 1;
    display: flex;
    flex-direction: row;
}

th {
    flex: 1;
}

button.data-table-col-sort-button {
    width: 100%;
    font-size: 18px;
    background-color: #3f3e40;
    color: inherit;
    border: none;
    padding: 0;

}

button.data-table-col-sort-button:hover {
    background-color: #5d5c5e;
}

.tbody-scrollable {
    flex: 1;
    overflow-y: scroll;
    scrollbar-color: #3f3e40 #232125;
}

tr.data-table-row {
    display: flex;
    flex-direction: row;
}

td.data-table-cell {
    flex: 1;
}

table tr.data-table-row:hover {
    background-color: #312a38;
    border-color: #312a38;
}

table th td {
    border: 0;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
}

.data-table-header-sorted {
    background-color: #312a38;
}

.data-table-col-sorted {
    background-color: #493f4f;
}

.data-table-cell-link {
    color: inherit;
}

.data-table-cell-link:hover {
    font-weight: bold;
}
