.header-main {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #2E2437;
    color: #C4D85E;
    height: 40px;
}

.footer-main {
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color: #2E2437;
    color: #C4D85E;
    height: 20px;
}

.page-body-main {
    flex: 1;
    background-color: #232125;
    font-family: 'Jetbrains Mono';
    font-weight: 200;
    color: #9DAA7C;
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.navbar {
    display: flex;
    flex-direction: row;
}

.navbar-section {
    padding: 10px;
    font-family: 'JetBrains Mono';
    font-weight: 100;
    text-shadow: 1px 2px 5px black;
    -webkit-text-stroke: 1px #1A0606;
    paint-order: stroke fill;
    color: #C4D85E;
    text-decoration: none;
}

.navbar-section-actionable {

}

.navbar-section-actionable:hover {
    background-color: #312a38;
}

.navbar-section-active {
    background-color: #232125;
    pointer-events: none;
}

#logo {
    height: 20px;
    width: 20px;
}

/* List page styles */

.page-tl-container {
    margin: 10px;
}

.page-ml-container {
    margin: 10px;
}

input {
    outline: none;
}

input:focus {
    border: 2px solid blue;
}

input.text-input {
    margin: 5px;
}

input.text-input-invalid {
    margin: 5px;
    border: 2px solid red;
}

.table-container {

}

table {
    border-spacing: 10px;
}

table tr:hover {
    background-color: #312a38;
    border-color: #312a38;
}

table th td {
    border: 0;
    padding: 0;
    margin: 0;
}

th {
    text-align: left;
}

/* Table styles */

table.data-table {
    width: 100%;
    table-layout: fixed;
}

.data-table-header-sorted {
    background-color: #312a38;
}

.data-table-col-sorted {
    background-color: #312a38;
}
