html,body {
    height:100%;
}

body {
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: flex;

}

#root {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}



